name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          activate-environment: languagetool-wrapper
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
          channels: defaults,conda-forge
      - run: |
          pylint $(git ls-files '*.py')
